---
layout: default
---
<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--16dp mdl-cell--4-col-phone">
      <div id="cf4a"class="mdl-card__media">
        <img src="{{ "/images/profile-pic1.jpg" | prepend: site.baseurl }}" style="border-radius: 50%" width="200px" height="200px" >
        <img src="{{ "/images/profile-pic2.jpg" | prepend: site.baseurl }}" style="border-radius: 50%" width="200px" height="200px" >
        <img src="{{ "/images/profile-pic3.jpg" | prepend: site.baseurl }}" style="border-radius: 50%" width="200px" height="200px" >
        <img src="{{ "/images/profile-pic4.jpg" | prepend: site.baseurl }}" style="border-radius: 50%" width="200px" height="200px" >
      </div>
      <div style="margin: auto;"class="mdl-card__title">
         <h2 class="mdl-card__title-text">Hi, I'm Tousif!</h2>
      </div>
      <div style="margin: auto;" class="mdl-card__supporting-text">
      I was born in Dhaka, Bangladesh. A very sweet place, has very beautiful rains and 2-3 hour long traffic jams. I was there for the majority of my childhood and teenage years. In 2011, I moved to Kolkata, India to complete my Grade 11 and 12. Life there was quite dynamic and the place turned out to be very enriching for my personal development. Kolkata gave me life long friends and bitter and sweet memories. After Kolkata, now I am in Rochester, USA striving to become a Computer Engineer at Rochester Institute of Technology.
      <br>
      <br>
      Academically, I love to investigate the field of Computer Vision, Cryptography, Internet of Things, Artificial Intelligence and Machine Learning. Sounds too nerdy? Here are some more things – I love singing, playing the guitar, piano, percussion, philosophy, poetry (middle eastern Sufi poets especially!), travelling, reflecting, sleeping, criticizing, eating, observing people’s face and a lot of other things that you can discover about me if we ever spend some time together.
      </div>
      <div id="borderOnBio"class="mdl-card--border"></div>
      <div id="socialButtons"class="mdl-card__actions">
        <a style="text-decoration:none"href="https://www.github.com/syed-ahmed">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            {% include icon-github.svg %}
          </button>
        </a>
        <a style="text-decoration:none"href="https://twitter.com/tousifsays">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            {% include icon-twitter.svg %}
          </button>
        </a>
        <a style="text-decoration:none"href="mailto:syed.ahmed.emails@gmail.com">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            {% include ic_mail_black_24px.svg %}
          </button>
        </a>
      </div>
  </div>
</div>
