--- 
layout: default 
---
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-cell--4-col-phone">
    <div id="cf4a" class="mdl-card__media">
      <img src="{{ " /images/profile-pic1.jpg " | prepend: site.baseurl }}" style="border-radius: 50%" width="200px" height="200px">
      <img src="{{ " /images/profile-pic2.jpg " | prepend: site.baseurl }}" style="border-radius: 50%" width="200px" height="200px">
      <img src="{{ " /images/profile-pic3.jpg " | prepend: site.baseurl }}" style="border-radius: 50%" width="200px" height="200px">
      <img src="{{ " /images/profile-pic4.jpg " | prepend: site.baseurl }}" style="border-radius: 50%" width="200px" height="200px">
    </div>
    <div style="margin: auto;" class="mdl-card__title">
      <h2 class="mdl-card__title-text">Hi, I'm Tousif!</h2>
    </div>
    <div style="margin: auto;" class="mdl-card__supporting-text">
      I was born in Dhaka, Bangladesh. A very sweet place, has very beautiful rains and 2-3 hour long traffic jams. I was there
      for the majority of my childhood and teenage years. In 2011, I moved to Kolkata, India to complete my Grade 11 and
      12. Life there was quite dynamic and the place turned out to be very enriching for my personal development. Kolkata
      gave me life long friends and bitter and sweet memories. After Kolkata, now I am in Rochester, USA striving to become
      a Computer Engineer at Rochester Institute of Technology.
      <br>
      <br> Academically, I love to investigate high performance computing, machine intelligence, digital logic design, and cryptography. 
      Sounds too nerdy? Here are some more things – I love singing, playing the guitar, piano, percussion,
      philosophy, poetry (middle eastern Sufi poets especially!), travelling, reflecting, sleeping, criticizing, eating,
      observing people’s face and a lot of other things that you can discover about me if we ever spend some time together.
      <br>
      <br> Click the links above (or on the hamburger menu if you are using a mobile device) to learn more about my career.
    </div>
    <div id="borderOnBio" class="mdl-card--border"></div>
    <div id="socialButtons" class="mdl-card__actions">
      <a style="text-decoration:none" href="https://www.github.com/syed-ahmed">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          {% include icon-github.svg %}
        </button>
      </a>
      <a style="text-decoration:none" href="https://twitter.com/tousifsays">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          {% include icon-twitter.svg %}
        </button>
      </a>
      <a style="text-decoration:none" href="mailto:syed.ahmed.emails@gmail.com">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          {% include ic_mail_black_24px.svg %}
        </button>
      </a>
    </div>
  </div>
</section>
<section id="educationSection" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="mdl-cell mdl-cell--12-col">Education</h4>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
       <img src="{{ " /images/tiger_walking_rit_color.jpg " | prepend: site.baseurl }}" width="80%">
      </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>Rochester Institute of Technology | Rochester, New York, USA</h5>
        BS in Computer Engineering<br>
        Minor in Mathematics<br>
        Expected Graduation: May 2018<br><br>
      </div>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <img src="{{ " /images/oaktree.png " | prepend: site.baseurl }}" width="80%">
      </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>Oaktree International School | Calcutta, India</h5>
        International Baccalaureate Diploma<br>
        Math HL, Physics HL, Chemistry HL, English SL, French SL, Economics SL<br>
        Extended Essay: Mathematics (Lucas-Lehmer Algorithm vs Trial Division)<br>
        Graduated: May 2013<br><br>
      </div>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <img src="{{ " /images/sb.png " | prepend: site.baseurl }}" width="80%">
          
      </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>South Breeze School | Dhaka, Bangladesh</h5>
        Edexcel IGCSE<br>
        Graduated: May 2010  <br><br>
      </div>
    </div>
    
  </div>
</section>
<section id="workSection" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Work Experience</h4>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <img src="{{ " /images/cat.png " | prepend: site.baseurl }}" width="80%">
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Research Assistant | September 2016 - May 2017; August 2017 - Present</h5>
          <h6>Center on Access Technology, NTID, RIT | Rochester, NY</h6>
          - Worked on developing a research tool that investigates the different needs of the deaf/hard of hearing population<br>
          - Integrated Automatic Speech Recognition Engines into the tool<br>
          - Worked on Video to Text model for American Sign Language<br>
          - Languages/Platforms used: TensorFlow, Android Development, Node.js<br><br>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
         <img src="{{ " /images/nvidia.png " | prepend: site.baseurl }}" width="80%">
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Deep Learning Software Intern | May 2017 - August 2017</h5>
          <h6>NVIDIA Corporation | DL Frameworks Team | Santa Clara, CA</h6>
          - Worked on different projects for Caffe2 and Tensorflow in the Deep Learning Frameworks Team<br>
          - Designed and implemented Universal Framework Format Format (UFF) Converters for TensorFlow and Caffe2, released in TensorRT 3.0 RC<br>
          - Wrote Sequence to Sequence Framework for Caffe2 <br>
          - Analyzed performance of Caffe2 kernels for Seq2Seq models and made optimizations<br>
          - Languages/Technologies used: C++, Python, Protobuf, CUDA, Caffe2, TensorFlow<br><br>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <img src="{{ " /images/fetlab.png " | prepend: site.baseurl }}" width="80%">
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Research Assistant | September 2015 - December 2015; August 2016 - May 2017</h5>
          <h6>FETLab, GCCIS, RIT | Rochester, NY</h6>
          - Assisted in research projects in the area of human-computer interaction. The focus of the research projects was on wearable and mobile computing and how to make personal fabrication technology such as 3D printers, laser cutters, and CNC routers easier to use by non-experts<br>
          - Wrote code for a kinect and projector based project for augmenting fabrication in laser cutters, 3D printers etc.<br>
          - Built an automatic speech recognition system that classifies sounds of actions on everyday objects<br>
          - Wrote Android Wear applications<br>
          - Languages/Technologies used: Python, C#, Java, Android Development<br><br>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <img src="{{ " /images/nextdroid.png " | prepend: site.baseurl }}" width="80%">
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>Deep Learning Engineering Intern | June 2016 - August 2016</h5>
            <h6>NextDroid, LLC (Startup) | Cambridge, MA</h6>
          - Wrote neural network models for road image segmentation for a semi-autonomous/self-driving car at NextDroid LLC., a startup based in Cambridge, MA<br>
          - Wrote image segmentation web interface for mass data collection, that decreased data collection cost by 60%<br>
          - Wrote models in caffe, torch and tensorflow<br>
          - Wrote unit tests in tensorflow<br>
          - Wrote custom operation layer in tensorflow<br>
          - Platforms/Frameworks used: Caffe, Tensorflow, Torch, CUDA, NVIDIA Jetson TX1, NVIDIA DRIVE PX<br>
          - Languages used: Python, C++, Lua<br><br>
          
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <img src="{{ " /images/ahold_delhaize_logo.png " | prepend: site.baseurl }}" width="80%">
            
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>Computer Vision Developer (Co-op) | January 2016 - May 2016</h5>
            <h6>Ahold Delhaize | Quincy, MA</h6>
            - Worked on computer vision related projects at the Propulsion Labs at Ahold USA<br>
            - Used tensorflow and caffe to do transfer learning for proof of concept on product image recognition<br>
            - Used OpenCV for data augmentation and production of synthetic images<br>
            - Used OpenCV and OpenGL ES to make an augmented really iOS app that gives a location-aware shopping experience. Wrote UI elements and their functionality in Redux.js and React.js<br>
            - Languages used: Python, C++, Objective-C, JavaScript<br><br>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <img src="{{ " /images/tiger_walking_rit_color.jpg " | prepend: site.baseurl }}" width="80%">
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Computer Vision Research Assistant | June 2015 - December 2015</h5>
          <h6>Discover Lab, School of Media Sciences, RIT | Rochester, NY</h6>
          - Developed, debugged, and optimized an augmented reality app, called RocreadAR for a research project aiming at integrating different media for publishing and communication<br>
          - Wrote Image Processing algorithms in OpenCV and Python to enhance detection and tracking of target images<br>
          - Received NSF I-Corps Funding and assigned as the Student Team Leader to commercialize prototypes<br>
          - Technologies used: OpenGL, OpenCV, Unity3D, Vuforia SDK, Wikitude SDK, Git, Android, iOS, Google Glass<br><br>
        </div>
      </div>
      
    </div>
</section>

<section id="researchSection" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Research</h4>
        <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
            
            <iframe width="240" height="135" src="https://www.youtube.com/embed/tUPMTaWp5VY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          
        </div>
        <div class="section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>User Experiences When Testing a Messaging App for Communication Between Individuals who are Hearing and Deaf or Hard of Hearing</h5>
          <h6>Lisa Elliot, Michael Stinson, <b>Syed Ahmed</b>, Donna Easton</h6>
          Assets 2017<br>
          <br>
          <a href="https://goo.gl/ixaN5C">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Paper
            </button>
          </a>
          <a href="https://goo.gl/4p4VEW">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Poster
          </button>
          </a>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
            
          
        </div>
        <div class="section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Using Automatic Speech Recognition to Facilitate Communication Between an Individual who is Hearing and One who is Deaf or Hard of Hearing</h5>
          <h6>Michael Stinson, <b>Syed Ahmed</b>, Lisa Elliot, Donna Easton</h6>
          Assets 2017<br>
          <br>
          <a href="https://goo.gl/9cwzP8">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Paper
            </button>
          </a>
          <a href="https://goo.gl/D7Y7m9">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Poster
          </button>
          </a>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
            
            <iframe width="240" height="135" src="https://www.youtube.com/embed/fS7GmoO4gSo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe width="240" height="135" src="https://www.youtube.com/embed/9sybRVL8CqE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe width="240" height="135" src="https://www.youtube.com/embed/WT9ke7aik5A" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            
        </div>
        <div class="section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Further Investigations into Round Touchscreen Wristwatch Interaction</h5>
          <h6>Dhwanit Mehta, Patrick C Shih, <b>Syed Ahmed</b>, Daniel Ashbrook</h6>
          Abstract: While circular touchscreen wristwatches have become a reality, their interfaces are still based on a square-screen paradigm. In this paper, we explore an interface for round watches based on placing selection items around the edge of the screen rather than in a list. We present the results of a study comparing our round interaction with the standard list interface, and of a study investigating the efficacy of our interaction in an eyes- free scenario.<br>
          <br>
          FETlab, GCCIS, RIT | Spring 2017
          <br>
        </div>
        <div class="moreResearch section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
            
            <img src="{{ " /images/WNYISPW_25.jpg " | prepend: site.baseurl }}" width="80%">
          
        </div>
        <div class="moreResearch section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>One Shot Learning for Acoustic Recognition</h5>
          <h6><b>Syed Ahmed</b></h6>
          Western New York Image and Signal Processing Workshop 2016<br>
          <br>
          <a href="https://goo.gl/HS6K6F">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Paper
            </button>
          </a>
          <a href="{{ " /images/WNYISPW_25.jpg " | prepend: site.baseurl }}">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Poster
            </button>
          </a>
          <a href="https://github.com/syed-ahmed/MatchingNetworks-OSL">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Code
          </button>
          </a>
          
        </div>
        
        <div class="moreResearch section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
            
            <iframe width="240" height="135" src="https://www.youtube.com/embed/1c7FHzpTL7A" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            
        </div>
        <div class="moreResearch section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>RocReadAR</h5>
          <h6><b>Syed Ahmed</b>, Suresh Jothilingam, Yogesh Jagadeesan, Elena Fedorovskaya</h6>
          Discover Lab, School of Media Sciences, RIT | Fall 2015
          <br>
          <br>
          <a href="https://issuu.com/rochesterwomanmag/docs/rwm_sept2015issue">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Cover Story
            </button>
          </a>
        </div>

        <div class="moreResearch section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
            
            <iframe width="240" height="135" src="https://www.youtube.com/embed/PkiIUjMjcUs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <iframe width="240" height="135" src="https://www.youtube.com/embed/gW7pCFljoAw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            
        </div>
        <div class="moreResearch section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Augmented Fabrication</h5>
          <h6><b>Syed Ahmed</b>, Sourabh Kulhare, Ameya Lonkar, Daniel Ashbrook</h6>
          Abstract: In this work, we used a kinect and a projector to continously project the image of an object onto itself. This application can then be used on a laser cutter where the projector would be mounted on the ceiling above the laser cutter. A designer can then visualize the design in real time on top of the object and make changes before sending the final design to the laser cutter.<br>
          <br>
          FETlab, GCCIS, RIT | Fall 2015
          <br>
        </div>
        
        <div class="moreResearch section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
          
        </div>
        <div class="moreResearch section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Out of trial division algorithm for finding primes and Lucas-Lehmer algorithm for finding Mersenne primes, which algorithm would yield a big prime number faster?</h5>
          <h6><b>Syed Ahmed</b></h6>
          International Baccalaureate Extended Essay Spring 2013<br>
          <br>
          <a href="https://goo.gl/0Hm7y6">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Paper
            </button>
          </a>
        
        </div>

        <div class="moreResearch section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
            
        </div>
        <div class="moreResearch section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Patterns in Complex Numbers</h5>
          <h6><b>Syed Ahmed</b></h6>
          International Baccalaureate Fall 2012<br>
          <br>
          <a href="https://goo.gl/zKBYhd">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Paper
            </button>
          </a>
        
        </div>
        <div class="moreResearch section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone" style="padding: 10px;">
            
        </div>
        <div class="moreResearch section__text mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Probabilities in Games of Tennis</h5>
          <h6><b>Syed Ahmed</b></h6>
          International Baccalaureate Spring 2012<br>
          <br>
          <a href="https://goo.gl/yUDUu9">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Paper
            </button>
          </a>
        
        </div>

      </div>
      <div style="text-align:center;" class="mdl-card__actions mdl-card--border">
          <button id="showButtonResearch" onclick="showDivs('moreResearch')" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            SHOW MORE
          </button>
        </div>
    </div>
</section>

<section id="talksSection" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Talks</h4>
        <div class="section__circle-container mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" style="padding: 10px;">
            <img src="{{ " /images/western-ny-2017.jpg " | prepend: site.baseurl }}" width="80%">
            
        </div>
        <div class="section__text mdl-cell mdl-cell--4-col mdl-cell--1-col-phone">
          <h5>TensorFlow Tutorial</h5>
          <h6><b>Syed Ahmed</b></h6>
          Invited Speaker, Western New York Image and Signal Processing Workshop 2017<br>
          <br>
          <a href="https://syed-ahmed.github.io/tensorflow-tutorial/">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Tutorial
            </button>
          </a>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" style="padding: 10px;">
            <video width="500" height="300" controls>
                <source src="http://on-demand.gputechconf.com/gtc/2017/video/s7346-ahmed-real-time-american-sign-language-video-captioning-using-deep-neural-networks.mp4" type="video/mp4">
                
                Your browser does not support the video tag.
              </video>
        </div>
        <div class="section__text mdl-cell mdl-cell--4-col mdl-cell--1-col-phone">
          <h5>Real Time American Sign Language Video Captioning using Deep Neural Networks</h5>
          <h6><b>Syed Ahmed</b></h6>
          NVIDIA GPU Tech Conference 2017<br>
          <br>
          <a href="http://on-demand.gputechconf.com/gtc/2017/presentation/s7346-syed-ahmed-real-time-american-sign-language-video-caption.pdf">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Slides
            </button>
          </a>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" style="padding: 10px;">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QaoBXMu_l50" frameborder="0" allowfullscreen></iframe>          
        </div>
        <div class="section__text mdl-cell mdl-cell--4-col mdl-cell--1-col-phone">
          <h5>Transfer Learning on Tensorflow in 30 minutes</h5>
          <h6><b>Syed Ahmed</b></h6>
          TensorFlow Boston Meetup, May 7 2016<br>
          <br>
          <a href="https://goo.gl/tvGR5q">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                Slides
            </button>
          </a>
        </div>
        
      </div>
    </div>
</section>