<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-layout-title" href="/"><span>Syed Tousif Ahmed</span></a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a id="resumeLink"class="mdl-navigation__link" href="{{ "/files/Syed-Tousif-Ahmed-CMPE-Resume.pdf" | prepend: site.baseurl }}">
        <button id="resumeButton"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Resume
        </button>
      </a>
      <a d="notesLink"class="mdl-navigation__link" href="https://www.gitbook.com/@syed-ahmed/">
        <button id="notesButton"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Notes
        </button>
      </a>
    </nav>
  </div>
</header>
<div id="smallscreentitle" class="mdl-layout__header-row mdl-layout--small-screen-only">
  <a class="mdl-layout-title" href="/"><span>Syed Tousif Ahmed</span></a>
</div>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <a id="drawertitle" class="mdl-layout-title" href="/"><span>Syed Tousif Ahmed</span></a>
  <nav class="mdl-navigation">
    <a style="text-decoration: none;"class="mdl-navigation__link" href="{{ "/files/Syed-Tousif-Ahmed-CMPE-Resume.pdf" | prepend: site.baseurl }}">Resume</a>
    <a style="text-decoration: none;" class="mdl-navigation__link" href="https://www.gitbook.com/@syed-ahmed/">Notes</a>
  </nav>
</div>
