<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a d="homeLink" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#home">
          <button id="homeLink" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
            Home
          </button>
        </a>
        <a d="educationLink" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#educationSection">
          <button id="educationButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
            Education
          </button>
        </a>
        <a d="expLink" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#workSection">
          <button id="expButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
            Work Experience
          </button>
        </a>
        <a d="researchLink" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#researchSection">
          <button id="researchButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
            Research
          </button>
        </a>
        <a d="talksLink" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#talksSection">
          <button id="talksButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
            Talks
          </button>
        </a>
        <a d="teachingLink" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#teachingSection">
          <button id="teachingButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
            Teaching
          </button>
        </a>
      <a d="projectsLink" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#projectsSection">
        <button id="projectsButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
          Projects
        </button>
      </a>
      
      <a d="notesLink" class="mdl-navigation__link" href="https://www.gitbook.com/@syed-ahmed/">
        <button id="notesButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
          Notes
        </button>
      </a>
      <a id="resumeLink" class="mdl-navigation__link" href="{{ " files/Syed-Tousif-Ahmed-CMPE-Resume.pdf
      " }}">
      <button id="resumeButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
        Resume
      </button>
    </a>
    </nav>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>
<div id="smallscreentitle" class="mdl-layout__header-row mdl-layout--small-screen-only">
  <a class="mdl-layout-title" href="/">
    <span>Syed Tousif Ahmed</span>
  </a>
</div>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <a id="drawertitle" class="mdl-layout-title" href="/">
    <span>Syed Tousif Ahmed</span>
  </a>
  <nav class="mdl-navigation">
      <a style="text-decoration: none;" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#home">Home</a>
      <a style="text-decoration: none;" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#educationSection">Education</a>
      <a style="text-decoration: none;" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#workSection">Work Experience</a>
      <a style="text-decoration: none;" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#researchSection">Research</a>
      <a style="text-decoration: none;" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#talksSection">Talks</a>
      <a style="text-decoration: none;" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#teachingSection">Teaching</a>
      <a style="text-decoration: none;" class="mdl-navigation__link" href="{{ site.baseurl }}/index.html#projectsSection">Projects</a>
      <a style="text-decoration: none;" class="mdl-navigation__link" href="https://www.gitbook.com/@syed-ahmed/">Notes</a>
      <a style="text-decoration: none;" class="mdl-navigation__link" href="{{ " files/Syed-Tousif-Ahmed-CMPE-Resume.pdf
      " }}">Resume</a>
  </nav>
</div>